{% extends "base.html" %}

{% load static %}

{% block header %}{% endblock %}

{% block main %}
<div class="container mt-3">
    <div class="row">
        <div class="col col-lg-12">
            <h3>Analyzed file name: <strong><u>{{ uploaded_filename }}</u></strong> 👨🏽‍💻</h3>
        </div>
    </div>

    <div class="row">
        <div class="col col-12">
            <div class="card mb-2 overflow-auto">
                <h3 class="card-header">Data Description</h3>
                <div class="card-body">
                    {{ df_description | safe }}
                </div>
            </div>
        </div>
        <div class="col col-12">
            <div class="card mb-2 overflow-auto">
                <h3 class="card-header">Initial Analysis Recomendation</h3>
                <div class="card-body">
                    {{ df_analysis | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}